body {
    display: flex;
    justify-content: center;
    font-family: "Encode Sans", sans-serif;
    width: 100%;
  }
  a:link {
    text-decoration: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    filter: brightness(1.75);
  }
  h1{
    color: inherit;
  }
  .main {
    width: 100%;
    padding: 120px 0 0 0;
    margin-bottom: 40px;
  }
  nav {
    height: 100px;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f5f6f7;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  .Navi-top {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f6f7;

  }

  .menu {
    height: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

  }

  .menu h2 {
    font-weight: bold;
  }


  .add{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
  }
  .add img{
    height: 200px;
    width: 500px;
  }

  .top2 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f5f6f7;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
  }


  .left {
    margin-top: 30px;
    width: 53%;
    border-right: 1px solid #ebedef;
  }
  .lefttop {
    border-bottom: 1px solid #ebedef;
    margin-top: 20px;
    margin-right: 20px;
  }
  .right {
    margin-top: 30px;
    width: 100%;
    display: flex;
  }
  .materiamain {
    font-size: 52px;
    font-weight: bold;
    color: #c4160c;
  }
  .materiasecundaria {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #303134;
  }
  .ComImagens {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebedef;
    margin-right: 20px;
  }
  .SemImagens {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
  .ComImagens div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 193px;
  }
  .SemImagens div {
    width: 193px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .leftbottom img {
    width: 193px;
    height: 110px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .leftbottom h1 {
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .leftbottom strong {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  .leftbottom p {
    color: gray;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .right1 {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px 0 0;
    box-sizing: border-box;
  }
  .right img {
    max-width: 400px;
    min-width: 100%;
    height: 128px;
    border-radius: 12px;
  }
  .right1 h1 {
    color: #2ec94b;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .right1 div {
    width: 100%;

  }
  .right2 h1 {
    color: #ec7d00;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .right strong {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }
  .right p {
    color: gray;
    font-size: 15px;
    margin-top: 10px;
  }
  .right2 div {
    width: 100%;
  }
  .right2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #ebedef;
    margin-bottom: 30px;
    padding: 0 0 0 30px;
    gap: 40px;
  }

  /* Cores */
.vermelho {
    color: #c4160c;
  }
  .azul {
    color: #1e4b9b;
  }
  
  .verde-escuro {
    color: #006766;
  }
  
  .verde {
    color: #07aa47;
  }
  
  .laranja {
    color: #e3662b;
  }
  
  .vermelho-claro {
    color: #fb0735;
  }
  
  .rosa {
    color: #ff75bb;
  }
  
  .laranja-escuro {
    color: #ec7d00;
  }
  .roxo {
    color: #a81d83;
  }
  .preto {
    color: black;
  }

  .verde-marinho{
    color: #1eb8b5;
  }
  
  .cinza {
    color: #303134;
  }